<div class="row">
    <div class="col-6">
        <a class="btn btn-success my-3" routerLink="new/laptop">New laptop</a>
        <hr />
        <div class="list-group">
            <div *ngFor="let laptop of laptops">
                <a class="list-group-item list-group-item-action" aria-current="true" routerLink="{{laptop.id}}"
                    routerLinkActive="active">
                    <div class="d-flex align-items-center justify-content-between row">
                        <div class="col-8">
                            <h5 class="mb-1">{{ laptop.id }}</h5>
                            <p class="mb-1">{{laptop.name}}</p>
                            <p class="mb-1">{{laptop.price}}</p>
                        </div>
                        <div class="col-4">
                            <!-- <img [src]="laptop." alt="Image" class="img-fluid" /> -->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <router-outlet></router-outlet>
    </div>
</div>